@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slider {
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
  }
  
  .slides {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
  }

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-family: 'Courier Prime', monospace;
}
  
/* Don't need button navigation */
@supports (scroll-snap-type) {
    .slider > a {
        display: none;
    }
}