@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display&display=swap');

body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Courier Prime', monospace;
    font-weight: 400;
}

h1 {
    font-weight: 600;
}

body {
    position: relative;
}

#back {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 15px 20px;
    color: white;
    background-color: black;
    text-decoration: none;
    border-radius: 100%;
    z-index: 1000;
}

main {
    display: flex;
}

main > div {
    width: 50vw;
    flex: 1;
}

#posterURL {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 98vh;
    margin-left: calc(2vw + 40px);
    margin-top: 1vh;
    margin-bottom: 1vh;
}

main > div:not(#posterURL) {
    padding: calc(4vw + 40px);
    margin: auto;
}

#links {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#links > a, .otherPoster {
    padding: 10px 0px;
    outline: 2pt solid black;
    background-color: black;
    margin: 10pt;
    width: 25vw;
    text-align: center;
    color: white;
    text-decoration: none;
}

#links > a:hover {
    background-color: #00000044;
    color: black;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }

    #posterURL {
        width: 100vw;
        min-height: 50vw;
        margin-left: 0;
        margin-top: calc(2vw + 40px);
    }
}

.otherPoster {
    height: 2vw;
    width: 10vw;
    position: absolute;
    bottom: 0;
    right: 0;
}