@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
  
html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Courier Prime', monospace; */
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: sans-serif;
  font-weight: 400;
}

nav ul {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  margin: 20px;
  background-color: var(--nav-color);
  text-align: center;
}

nav ul a {
  font-family: 'Courier Prime', monospace;
  padding: 20px 10px;
  min-width: 100px;
  display: inline-block;
  color: black;
  text-decoration: none;
  border: 1px solid black;
}

nav ul a:hover {
  color: rgb(150, 150, 150);
}

header {
  background-image: url("../assets/website/computer.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

header h1 {
  margin-top: 30vh;
  margin-bottom: 30vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Courier Prime', monospace;
  text-align: center;
}

.flex-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 50px;
}

.flex-boxes > div {
  min-width: 400px;
  padding: 10px 20px;
  margin-top: 25px;
  flex: 1;
  max-width: 30vw;
}

.subtitle {
  color: #6b6b6b;
  border-bottom: 1px solid #9b9b9b;
  margin-bottom: 20px;
  margin-top: 10px;
}

.side-image {
  margin-top: calc( 2vw + 50px);
  margin-bottom: calc( 2vw + 50px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.side-image > div {
  width: 20vw;
  min-width: 400px;
  min-height: 400px;
}

.si-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30vw !important;
  height: 30vw;
  margin-top: auto;
  margin-bottom: auto;
}

#sciorsocial {
  background-image: url("../assets/website/Science or Social Media.png");
}

#humimg {
    background-image: url("../assets/website/computer.jpg");
}

#anotherimg {
    background-image: url("../assets/website/computer.jpg");
}

.side-image div:not(.si-image) {
  margin-right: 40px;
  margin-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
}

footer {
    margin-top: calc(2vw + 50px);
}

footer, footer nav ul{
    background-color: black;
}

footer nav ul a {
    border: 1px solid white;
}

footer nav ul a {
    color: white;
}

footer h4 {
    color: white;
    margin: 20px 30px;
    text-align: right;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: calc(2vw + 20px);
}

.cards article div h1 {
    font-family: 'Courier Prime', monospace;
    text-align: center;
}

.cards article div h2 {
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Courier Prime', monospace;
    border-bottom: 1px solid #6b6b6b;
    margin-bottom: calc(1vw + 10px);
    margin-top: 10px;
}

.cards article div h3 {
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Courier Prime', monospace;
}

.cards > article > a {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Courier Prime', monospace;
}

.cards > article > div {
    padding: 20px;
}

.cards > article {
    position: relative;
    flex: 1;
    max-width: 300px;
    min-width: 200px;
    min-height: 350px;
    margin: calc(1vw + 40px);
    border: 1px solid black;
}