<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HTHM Exhibition Site 2020</title>

        <link rel="stylesheet" href="../stylesheets/individualcard.css">
        <script src="../data/ballotmeasures.js"></script>
        <script src="../data/chemicals.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/individualcard.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <a id="back"><</a>
        <main>
            <div id="posterURL"></div>
            <div>
                <h1 id="title"></h1>
                <h2 id="members"></h2>
                <h3 id="description"></h3>
                <div id="links">
                    <a id="gdocURL" target="_blank">Read Through The Research</a>
                    <a class="posterLink" target="_blank">See the Poster... but Bigger :)</a>
                </div>
            </div>
            <a class="otherPoster">See the other poster</a>
        </main>
    </body>
</html>